#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  color: #e8fdff;
  background-color: #00a087;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  /* should be 2X regular font-size */
  float: left;
  margin-left: 10px;
  line-height: 2.5em;
  font-size: 2em;
  padding-left: 10px;

}