#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  /* should be 2X regular font-size */
  float: left;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 2.5em;
  margin-left: 10px;
  padding-left: 10px;
}
