.new-tweet {
  width: 450px;
  border-radius: 5px;
  background: #eeeeee;
  border: 1px solid #d1d0d0;
  margin: auto;
  padding: 10px;
  display: none
}
.new-tweet-header {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  border-bottom: 1px solid #535353;
}
#new-tweet-text {
  width: 427px;
  height: 59px;
}
.new-tweet-footer {
  display: flex;
  justify-content: space-between;
}
.new-tweet-footer .submit {
}

.new-tweet-footer #counter {
  justify-content: space-between;
  align-items: flex-end;
  font-style: italic;
}

.error-message {
background-color: red;
display: none
}
