.new-tweet-container {
  width: 450px;
  height: 170px;
  border-radius: 5px;
  background: #eeeeee;
  border: 1px solid #d1d0d0;
  margin: auto;
  padding: 10px;
  display: none
}
#new-tweet-form {
  height:60px
}
.new-tweet-header {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #535353;
}
#new-tweet-text {
  width: 427px;
  height: 59px;
  margin-top: 5px;
  margin-bottom: 5px
}
.new-tweet-footer {
  display: flex;
  justify-content: space-between;
}
.new-tweet-footer #counter {
  justify-content: space-between;
  align-items: flex-end;
  font-style: italic;
}
.error-message {
color: rgb(235, 84, 84);
display: none;
font-style: italic;
align-content: center;
}

